.body {
    display :grid
}

.topbar{
    background-color: white;
    color: black;
    display :grid;
    grid-template-columns: 0.75fr 1.65fr 0.6fr;
    grid-template-rows: 30px;
    padding:10px;
}
.topbar .part1{
    display: grid;
    grid-template-columns: 3.5rem auto;
}
.button1 span{
    font-weight: bold;
    font-family: sans-serif;
    font-size: Large;
}
.topbar img{
    width:30px;
    height:20px;
}
.topbar .part2{
    display:grid;
    grid-template-columns: 3fr 0.5fr 0.5fr ;
}
.part2 div{
    justify-content:center;
}
.topbar .part3{
    display:grid;
    justify-content: right;
    grid-template-columns: 0.2fr 0.2fr 0.2fr ;
}
#account img{
    border-radius: 50%;
}

.content{
    display:grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 100%;
}
.sidebar {
    grid-template-rows: repeat(4, 60px) auto;
    padding: 10px;
    grid-row-gap:10px;
}
.sidebar span{
    font-family: sans-serif;
    font-size: 8px;
}

.content img{
    width:100%;
}
.container img{
    max-width:320px;
    max-height:200px;
}

.details{
    display:grid;
    grid-template-columns:30px auto ;
}

.imageContent{
    display:grid;
    grid-template-columns: 50px 250px;
    column-gap: 20px;
    grid-template-rows: 50px 50px;
}
.imageContent img{
    max-width:50px;
    border-radius: 50%;
}
.con1{
    font-size: medium;
    font-weight:bold;
    font-family: sans-serif;
}
.con2{
    font-size:small;
    font-weight: lighter;
    font-family: sans-serif;
}